.rad-button{
    height: 100%;
    background: #f1f1f1;
    color: #d1d1d1;
    font-weight: bolder;
    padding:4px;
}

.itemCrit{
    border-bottom: 1px solid #eee;
}

.rad-contain{
    height: 100%;
}

.field-sel{
    background:rgba(84, 180, 234,0.8);
}

.bigRow{
    height: 80px;

}

.md-resize-wrapper{
    height: 36px;
    max-height: 120px;
    overflow-y: auto;
}
.md-resize-wrapper .md-resize-handle{
    bottom: 0px;
}

md-input-container > label{
    width: 95% !important;
}

#critConstruct md-sidenav{
    z-index:70;
}

.assign {
    background: rgba(0, 255, 0, 0.5);
}

treecontrol li{
    background-color: #eef7fe;
}
treecontrol li li{
    background-color: #d4ebfd;
}
treecontrol li li li{
    background-color: #b8ddfa;
}
treecontrol  li  li  li  li{
    background-color: #a3d4fc;
}
treecontrol  li  li  li  li  li{
    background-color: #84c7fb;
}
treecontrol  li  li  li  li  li  li{
    background-color: #6ebefd;
}
treecontrol  li  li  li  li  li  li  li{
    background-color: #4fb1fc;
}
treecontrol  li  li  li  li  li  li  li li{
    background-color: #2fa2fb;
}
treecontrol  li  li  li  li  li  li  li  li  li{
    background-color: #118ae7;
    color:#f1f1f1;
}
treecontrol  li  li  li  li  li  li  li  li  li  li{
    background-color: #0774c7;
}
treecontrol  li  li  li  li  li  li  li  li  li  li{
    background-color: #1161a0;
}
treecontrol  li  li  li  li  li  li  li  li  li  li  li{
    background-color: #1b507c;
    color:#fdfdfd;
}
treecontrol  li  li  li  li  li  li  li  li  li  li  li  li{
    background-color: #223e54;
}
