.rad-button{
    height: 24px;
    background: #ccc;
    color: #f1f1f1;
    font-weight: bolder;
    padding:10px;
}

.field-sel{
    background:rgba(84, 180, 234,0.8);
}

#critConstruct md-sidenav{
    z-index:70;
}