.rad-button{
    height: 100%;
    background: #ccc;
    color: #f1f1f1;
    font-weight: bolder;
    padding:4px;
}

.itemCrit{
    border-bottom: 1px solid #eee;
}

.rad-contain{
    height: 100%;
}

.field-sel{
    background:rgba(84, 180, 234,0.8);
}

.bigRow{
    height: 80px;

}

#critConstruct md-sidenav{
    z-index:70;
}