
.image{
    float: right;
}
.emit100{ background-color: #006837;}/** llegada en <=0 */
.emit90{ background-color: #00862c;}/** llegada en <=0 */
.emit60{ background-color: #00a421;}/** llegada en <=0 */
.emit30{ background-color: #00c316;}/** llegada en <=0 */
.emit7{ background-color: #00e10b;}/** llegada en <=0 */
.emit0{ background-color: #00ff00;}/** llegada en <=0 */

.text100{ color: #006837;}/** llegada en <=0 */
.text90{ color: #00862c;}/** llegada en <=0 */
.text60{ color: #00a421;}/** llegada en <=0 */
.text30{ color: #00c316;}/** llegada en <=0 */
.text7{ color: #00e10b;}/** llegada en <=0 */
.text0{ color: #00ff00;}/** llegada en <=0 */

.doc-Open100{ border: 1px solid #006837; color: #006837;}/** llegada en <=0 */
.doc-Open90{ border: 1px solid #00862c;color: #00862c;}/** llegada en <=0 */
.doc-Open60{ border: 1px solid #00a421;color: #00a421;}/** llegada en <=0 */
.doc-Open30{ border: 1px solid #00c316;color: #00c316;}/** llegada en <=0 */
.doc-Open7{ border: 1px solid #00e10b;color: #00e10b;}/** llegada en <=0 */
.doc-Open0{ border: 1px solid #00ff00;color: #00ff00;}/** llegada en <=0 */

.dot-filter100{ border: 1px solid #006837; color: #006837;}/** llegada en <=0 */
.dot-filter90{ border: 1px solid #00862c;color: #00862c;}/** llegada en <=0 */
.dot-filter60{ border: 1px solid #00a421;color: #00a421;}/** llegada en <=0 */
.dot-filter30{ border: 1px solid #00c316;color: #00c316;}/** llegada en <=0 */
.dot-filter7{ border: 1px solid #00e10b;color: #00e10b;}/** llegada en <=0 */
.dot-filter0{ border: 1px solid #00ff00;color: #00ff00;}/** llegada en <=0 */

.dot-filter100:hover{ border: 1px solid rgb(84, 180, 234); color: rgb(84, 180, 234);}/** llegada en <=0 */
.dot-filter90:hover{ border: 1px solid rgb(84, 180, 234);color: rgb(84, 180, 234);}/** llegada en <=0 */
.dot-filter60:hover{ border: 1px solid rgb(84, 180, 234);color: rgb(84, 180, 234);}/** llegada en <=0 */
.dot-filter30:hover{ border: 1px solid rgb(84, 180, 234);color:rgb(84, 180, 234);}/** llegada en <=0 */
.dot-filter7:hover{ border: 1px solid rgb(84, 180, 234);color: rgb(84, 180, 234);}/** llegada en <=0 */
.dot-filter0:hover{ border: 1px solid rgb(84, 180, 234);color:rgb(84, 180, 234);}/** llegada en <=0 */

.dot-attachment{border: 1px solid rgb(84, 180, 234);color:rgb(84, 180, 234);}/** dot para marcar adjuntos **/
.dot-select{border: 1px solid rgb(84, 180, 234) !important;color:rgb(84, 180, 234) !important;}/** dot que este selecionado**/


/** dot que este selecionado**/
.item-select{ color:rgb(84, 180, 234) !important;} /**item selecionado */
.item-not-select{color:#f1f1f1 !important;}/* item no seleciondo*/
.not-focus{border: 0px;} /** item sin focus */

.input-adj{
    height:18px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #6e6e6e;
    border-radius: 16px;
}

.input-adj div:first-child {
    margin-left: 16px;
}
.input-adj:last-child{

}

div {
    cursor:default;
}
div[ng-click] * {
    cursor:pointer !important;
}

.cellGrid md-switch{
    padding-top: 0px;
    margin-top: -2px !important
}

.cellGrid-input{
    border-bottom:  1px solid #999999 ;
}

.cellGrid-input-focus{
    border-bottom:  1px solid rgb(84, 180, 234) ;
}

.cellGrid-input-no-focus{
    border-bottom:  1px solid #999999 ;
}

.input-grid{
    border-bottom:  none;

}

md-sidenav .md-sidenav-right.md-locked-open{
    /* position: absolute;*/
}

.form-row-head{
    height: 32px;
    margin-bottom: 8px;
}

.form-row-head.form-row-head-select{
    border-bottom: solid 1.5px rgb(92, 183, 235);
    color: rgb(92, 183, 235);
}
.form-row-head-option.form-row-head-select{
   /* color: rgb(92, 183, 235);*/
}
.form-row-head-option div{
    margin: 0 2px 0 2px;
    height: 100%;
}
.form-row-head-option div:last-child{
    margin-right: 8px;
}
.form-body-select{
    color: rgb(92, 183, 235);
}
.form-style{
    background-image: url("../images/shadowUp.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
}



/****forms embarques***/

/**contenedor de la grilla*/
.gridContent{
    overflow-y:auto;
    /*height: calc(100% - 78px);*/
    margin-bottom: 4px;

}

.head-cell-order{
    width: 80px;
}
/**contenedor de la grilla*/
.dotRow{
    height: 22px;
}

.dot-text{
    height: 44px;
}
.dot-empty{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;

}
.inputFilter{
    width: 100%;
    border: 0;
}
.menuFilter{
    width: 192px;
    background-color: #f1f1f1;

    color: #999999;
}
.btnMas{
    background-color: transparent;
    color: rgb(153, 153, 153);
    border-top: 1px solid;
    border-radius: 30px;
}
.preview{
    /*background-color: #f1f1f1;*/
    color: #CCCCCC;
}

.rowRsm{
    height: 28px;
}
.rowRsm div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.divIconRsm{
    height: 24px;
    font-size: 16px
}

.rms{
    text-overflow: ellipsis;
    height: 28px;
    overflow: hidden;
    white-space: nowrap
}

.cntLayerHolder{
    height: 100%;
}



.docButton{
    margin: 2px;
    /*background-color: aliceblue;*/
}

.required{
    border-color: rgb(221,44,0);
}
.sideNavContent{
    height: 100%;
}

.titleForm{
    min-height: 39px;
}

.divAux{
    width: 360px;
}

.none{
    display: none !important;
}

.btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.mini-content-title{
    border-bottom: solid 1.5px rgb(92, 183, 235);
    height: 33px;
}
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/** boton blue de ini layers */
.blue-btn{
    background-color: rgb(141, 205, 241);
    color: white;
    border: solid 1px #4eb8f3;
}
.blue-btn div{
    padding: 8px;text-align: center;
}
.blue-btn div div{
    text-align: center;  width: 100%; padding: 2px;
}
.date-row {
    color: #c3c3c3;
    min-width: 200px;
    white-space: nowrap;
}
.date-row > div:first-child{
    margin-right: 4px;
}

.date-row > div:last-child > div {
    border-bottom: 1px dotted #c3c3c3;

}
.text-row {
    color: #c3c3c3;
}
.text-row-row > div:first-child{
    margin-right: 4px;
    white-space: nowrap;
}

.text-row-row > div:last-child > div {
    border-bottom: 1px dotted #c3c3c3;

}

.tab-select{
    color: rgb(84, 180, 234);
    border-bottom: solid 1px rgb(84, 180, 234);
}


.mail-attaments div{color:  rgb(84, 180, 234);width: 24px; padding: 2px;border-bottom: solid 1px;margin: 0 2px 0 2px;}
.mail-option div{color:  rgb(84, 84, 85); ;margin: 8px 2px 0 2px;}
.mail-option-select{
    color: rgb(84, 180, 234);
    border-bottom: solid 1px rgb(84, 180, 234);
}
.row-min{
    height: 30px;
}

.text-box{
    padding: 8px 4px 0 0;
    overflow-y: auto;
    margin-bottom: 4px;
}

.text-box > div{
    height: 100%; width: 100%;
    padding: 0 4px 4px 0;
}

.text-box > div > textarea{
    border: none;
    height: 100%;
    width: 100%;
    resize: none
}

.adj-box-rigth{
    padding: 3px;
    margin: -1px 0 0 -11px
}

.adj-box-rigth  span{
    float: left;height: 25px;margin-top: 3px;padding-right: 4px;background: #f1f1f1;padding-left: 4px;
}
.table-filter-order-by{
    margin-left: -8px;
    width: 16px;
    padding-left: 8px;
}
.table-filter-order-by:first-child{
    margin-bottom: -4px;
}
.table-filter-order-by:last-child{
    border-bottom: solid 1.5px rgb(225, 225, 225);
    margin-bottom: 10px;
}

.table-filter-head{
    margin: 0 4px 0 4px;
}
.table-filter-order-by img {
    width: 8px;
    height: 8px;
}

.table-row-select div{
    border-bottom: 1px dashed rgb(84, 180, 234);
    /*
    color: rgb(84,180,234);
    */
}

.cell-filter-order{
    width: 12px;
    display: block;
}

.cell-filter-order > div > img{
    width: 12px;
}

.cellGrid input{
    border: none;
    background: none;
    width: 100%;
}
.cellGrid:has( input:focus) {
    border-bottom: none;
    background-color: #0a6ebd;

}

/**celda que contenga imagenes*/
.cellGridImg{
    align-self: flex-end;
}
/** div para selecionar, el sidenav */


/** celdad de la grilla vacia sin efecto*/
.cellEmpty{
    width: 24px;
    margin: 0px;
    border: 0px;
}
/* para grilla selecionada**/
.cellSelect:focus{

    border-left: 1px solid rgb(84, 180, 234);
}

.cellSelect:hover{

    border-left: 1px solid rgb(84, 180, 234);
}

.cellSelect-select{

    border-left: 1px solid rgb(84, 180, 234);
}

/**:focus{
    border-left: 1px solid rgb(84, 180, 234);
}*/
/**review ? */
.cellSelect{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    border-bottom: 1px dashed #999999;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    padding-top: 19px;
    margin-top: -9px;
}
/**review ?*/
.cellSelect.cellEmpty{
    border-bottom:none;
    margin-top: 0;
    padding-top: 8px;
}

.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    cursor: default;
    background: transparent;
}
md-autocomplete{
    min-width: 0 !important;
}

md-autocomplete > md-autocomplete-wrap{
    box-shadow : none !important;
}


#autoFilter{
    padding: 0 0 0 4px !important;
}
.animation-arrow-disable{
    border: 1px solid #f1f1f1;
    background-color: rgba(241, 241,241,1);
}
/**********key frames class ***********/

.animation-arrow{
    background-color: #f4a200;
    animation : resal-noti 5s infinite;
}

@keyframes resal-noti {
    0% {
        background: #fdd34f;
    }
    30%{
        background:  #fff44c;
    }
    100% {
        background: #fdd44c;
    }
}