/**************************** Global *********************************/
*:focus {
    outline: 0;
}

.md-required:after{
    content:" " !important;
}

md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right, md-sidenav.md-locked-open-remove.md-closed{
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
     -webkit-transform: none;
    transform:none;
}

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

button, select, html, div, textarea, input {
    font-weight: 300 !important;

}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(221, 221, 221, 0.2);
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: rgba(221, 221, 221, 1);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
md-switch.md-checked.md-primary .md-thumb {
    background-color: rgb(84, 180, 234) !important;
}

md-switch.md-checked .md-thumb{
    background-color: rgb(84, 180, 234) !important;
}

md-switch.md-checked.md-primary .md-ink-ripple {
    color: rgb(84, 180, 234) !important;
}

/*==================================================*/
/*==================================================*/
form {
    padding: 0 !important;
    min-height: 40px;
}
form:not(:last-child){
    background-image: url("../images/shadowUp.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
}

.area-form{
    margin-bottom: 8px;
}

.row {
    height: 40px;
    padding-right: 4px;
    width:calc(100% - 8px);
}

/*==================================================*/
/*==================================================*/
/*@media screen and (min-width: 600px) md-sidenav{
    max-width: 100% !important;
}*/
md-backdrop {
    background-color: transparent !important;
}

.md-sidenav-backdrop {
    background-color: transparent !important;
    display: none;
}

md-sidenav {
    max-width: 100% !important;
}

md-sidenav#lyrAlert {
    background-color: transparent !important;
}


/*==================================================*/
/*==================================================*/
md-input-container{
    padding: 0 8px 0 0 !important;
    margin: 10px 0 0 0 !important;
}
md-autocomplete {
    background: transparent;
    margin-bottom: 10px;
    margin: 0px !important;
    padding: 0px !important;
}
md-autocomplete-wrap{
    height: 20px !important;
}
md-autocomplete-wrap button{
    display:none !important;

}

md-autocomplete.md-default-theme[disabled], md-autocomplete[disabled]{
    background: transparent !important;
}




/*==================================================*/
/*==================== INPUT =======================*/
form.focused md-autocomplete:not([required],.md-input-invalid) .md-input,form.focused md-input-container .md-input:not([required],.md-input-invalid),form.focused  .md-select-value:not([required],.md-input-invalid) {
    border-color: rgba(0,0,0,0.22) !important;
}


form:not(.focused) md-autocomplete .md-input, form:not(.focused) md-input-container .md-input, form:not(.focused) .md-select-value {
    border-color: transparent;
}


md-input-container.md-input-focused:not(.md-input-invalid)  .md-input {
    border-color: rgb(84, 180, 234) !important;
    /*border-color: #ffffff !important;*/
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: rgb(84, 180, 234) ;
}

.focused md-input-container:not(.md-input-invalid,.md-input-focused) .md-input:not([disabled="disabled"]){
    border-bottom: 1px solid rgba(0,0,0,0.22) !important;
}

.focused md-input-container:not(.md-input-invalid,.md-input-focused) md-select:not([disabled="disabled"]) .md-select-value{
    border-bottom: 1px solid rgba(0,0,0,0.22) !important;
}

.focused md-input-container:not(.md-input-focused) .md-input[required]:not([disabled="disabled"]).ng-untouched:not(:valid){
    border-bottom: 1px solid #febd33 !important;
}


.focused md-input-container:not(.md-input-invalid) .md-input:not([disabled="disabled"]),
.focused md-input-container:not(.md-input-focused) .md-input:not([disabled="disabled"]){
    border-bottom: 1px solid rgba(0,0,0,0.22) ;
}

.focused md-input-container:not(.md-input-focused) md-select[required]:not([disabled="disabled"]).ng-untouched .md-select-value{
    border-bottom: 1px solid #febd33 !important;
}

.focused md-input-container:not(.md-input-focused) md-select:not([disabled="disabled"]) .md-select-value,
.focused md-input-container:not(.md-input-invalid) md-select:not([disabled="disabled"]) .md-select-value{
    border-bottom: 1px solid rgba(0,0,0,0.22) !important;
}

md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input{
    border-color: rgb(221,44,0) !important;
}

input {
    font-size: 98% !important;
}

/*==================== LABEL =======================*/
md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 10px, 0) scale(0.65) !important;
    transform: translate3d(0, 10px, 0) scale(0.65) !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    -webkit-transform: translate3d(0, 18px, 0) scale(1);
    transform: translate3d(0, 18px, 0) scale(1);
}

md-input-container.md-input-focused label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 10px, 0) scale(0.65) !important;
    transform: translate3d(0, 10px, 0) scale(0.65) !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

/*==================== ERROR MENSAJE ====================*/
md-input-container [ng-message] {
    font-size: 9px !important;
    line-height: 9px !important;
    padding-top: 1px !important;
}

/*==================== ERROR SIZE =======================*/
md-input-container .md-char-counter {
    font-size: 9px !important;
    line-height: 9px !important;
}

md-input-container .md-errors-spacer {
    min-height: 10px !important;
}

md-input-container .md-char-counter {
    padding-top: 1px;
}

md-input-container.md-input-focused .md-input {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    border-width: 0 0 1px 0;
}

md-input-container .md-input.ng-invalid.ng-dirty {
    padding-bottom: 0;
    border-width: 0 0 1px 0;
}

md-input-container [ng-message]:not(.md-char-counter) {
    padding-right: 12px;
    padding-left: 0;
}

md-input-container .md-input {
    height: 20px;
    line-height: 20px;
}

/*==================================================*/
/*=================== SELECTOR =====================*/
.md-select-value {
    min-height: 19px !important;
    padding: 0 !important;
}

/*md-select .md-select-value{
    border-bottom-color: #ffffff;
}*/

md-select:not([disable]):focus .md-select-value {
    border-bottom-width: 1px;
    border-bottom-color: rgb(84, 180, 234) !important;
}

.md-select-value .md-select-icon:after {
    color: #999999 !important;
}

.md-select-value *:first-child {
    -webkit-transform: translate3d(0, 0px, 0) !important;
    transform: translate3d(0, 0px, 0) !important;
}

.md-select-value .md-select-icon:after {
    background-position-x: 12px !important;
    content: '' !important;
    height: 12px !important;
    background-image: url("../images/select_downArrow.png") !important;
    background-repeat: no-repeat !important;
    -webkit-transform: scaleY(1) scaleX(1) !important;
    transform: scaleY(1) scaleX(1) !important;
}

md-input-container > md-select {
    margin-bottom: 10px !important;
}

/*==================================================*/
/*================ SELECTOR MULTIPLE ===============*/
md-select-value > span {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

md-select-value > span > div {
    float: left !important;
    margin-left: 12px !important;
}


/*==================================================*/
/*=================== SWITCH =====================*/
md-switch {
    margin: 0 !important;
    padding-top: 10px;
}

md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(0, 0, 0, 0.12);
}

md-switch .md-bar {
    background-color: #ffffff !important;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    left: -2px !important;
    width: 40px !important;
    top: 0px !important;
    height: 17px !important;
    border-radius: 8px !important;
    position: absolute !important;
}

md-switch .md-thumb {
    background-color: #ff6f4c;
    position: absolute !important;
    margin: 0 !important;
    left: 0 !important;
    top: 0 !important;
    outline: none !important;
    height: 13px !important;
    width: 20px !important;
    border-radius: 6px !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 2px 0px 0px rgba(0, 0, 0, 0) !important;
    /*box-shadow: 0 !important;*/
}

md-switch.md-focused:not([disabled]) .md-thumb:before {
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

md-switch.md-focused:not([disabled]):not(.md-checked) .md-thumb:before {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

/*==================================================*/
/*=================== CHPIS =====================*/

md-chips.md-default-theme, md-chips{
    padding: 0px 8px 0px 0px;
    height: 30px;
    /*margin-top: 10px;*/
}

.md-chips md-chip{
    margin: 0px 8px 0 0;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}
.md-chips md-chip .md-chip-remove{
    height: 24px;
    line-height: 24px;
}



form.focused md-chips.md-default-theme .md-chips, form.focused md-chips .md-chips{
    box-shadow: 0 1px rgba(0,0,0,0.22)
}
form:not(.focused) md-chips.md-default-theme .md-chips, form:not(.focused) md-chips .md-chips{
    box-shadow: 0 1px transparent;
}

.md-chips .md-chip {
    border-radius: 16px !important;
    height: 20px !important;
    line-height: 24px !important;
    margin: 0px 8px 0 0 !important;
    padding: 0 16px 0 8px !important;
}

.md-chips .md-chip .md-chip-remove {
    width: 24px !important;
    height: 20px !important;
}

md-chips .md-chip {
    background-color: #f1f1f1 !important;
}

.md-chips {
    padding: 0 !important;
}

md-chips .md-chips {
    margin-bottom: 10px !important;
}

md-chips .md-chips.md-focused {
    box-shadow: 0 1px rgb(84, 180, 234) !important;
}

.md-chips .md-chip-input-container {
    line-height: 20px !important;
}

.md-chips .md-chip-input-container {
    /*margin: 6px 0px 2px 0 !important;*/
    margin: 2px !important;
}

.md-chips .md-chip-input-container input:not([type]) {
    height: 20px !important;
    line-height: 20px !important;
}

.md-chips .md-chip-input-container input {
    height: 20px !important;
    line-height: 20px !important;
}

.md-chips .md-chip-input-container md-autocomplete-wrap {
    height: 20px !important;
}

.md-chips .md-chip-input-container md-autocomplete {
    height: 20px !important;
}

/*==================================================*/
/*==================== ALERTS ======================*/
/*.alertsHolder{
    top: calc(100% - 144px) !important;
    height: 96px !important;
    margin-bottom:48px !important;
    width: calc(100% - 288px) !important;
}*/
.alertBox md-tabs-wrapper{
    display: none !important;
}
.alertBox md-tabs-canvas{
    display: none !important;
}
.alertBox md-tabs-content-wrapper{
    top: 0 !important;
}
.alertBox md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
    min-height: 120px !important;
}
.alertBox md-tab-content{
    height: 120px;
}
.alertBox md-tab-content>div{
    height: 120px;
}

.alertPrevArrow{
    width: 16px;
    height: 120px;
    cursor: pointer;
    background-image: url("../images/alert_prev_arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.alertNextArrow{
    width: 16px;
    height: 120px;
    cursor: pointer;
    background-image: url("../images/alert_next_arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.alertOkColor{
    /*background-color:rgba(255,239,0,0.7);*/
    background-color:rgb(255,239,0);
}
.alertAlertColor{
    /*background-color: rgba(245,171,0,0.7);*/
    background-color: rgb(245,171,0);
}
.alertErrorColor{
   /* background-color: rgba(255,50,0,0.7);*/
    background-color: rgb(255,50,0);
}
.alertInfoColor{
    /*background-color: rgba(0,0,0,0.5);*/
    background-color: #575756;
    color:white;
}
.alertContainer{
    background-color: transparent;
    height: 120px;
}
.alertItem{
    height: 120px;
}
.alertTextContent{
    overflow-y: auto;
    height: 84px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    font-size: 18px;
}
.alertTextOpcs{
    height: 36px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;

}

.alertTextOpcs>div{
    border-top: 1px solid rgba(255,255,255,0.4);
    padding-top: 3px;
}
.alertTextOpcs>div:not(:last-child){
    border-right: 1px solid rgba(255,255,255,0.4);
}
.alertTextOpcs>div:hover,.alertTextOpcs>div:focus{
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}
.alertTextOpcs>div:active{
    background-color: rgba(255,255,255,0.2);
}

/*==================================================*/
/*===================== TABS =======================*/
md-tabs .md-tab.md-active{

}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
body[ng-cloak] {
    display: none;
}

body {
    background-image: url("../images/login_bg_white.jpg");
    background-position: bottom center;
}

#holderAll {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;

}

/**************************** Login *********************************/
#holderLogin {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("../images/login_bg_lines.gif");
    background-position: bottom center;
}

#login md-input-container .md-input {
    border-color: #ffffff !important;
}

#login md-input-container label {
    font-weight: 100;
}

#login {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("../images/login_bg_lines.gif");
    background-position: bottom center;
}

#loginBottom {
    height: 80px;

}

#lgnForm {
    width: 400px;
}

.msjBienvenida {
    width: 333px;
    height: 287px;
    background-image: url("../images/login_exagono_bg.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    font-size: 21px;
    font-weight: 100;
}

.md-input-focused {
    border-color: #ffffff !important;
}

.btnHolder {
    width: 48px;
    height: 80px;
}

.btnHolder i {
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}

.logoHolder {
    width: 200px;
    height: 80px;

}

.contentHolder {
    background-color: #ffffff;
}

/**************************** Inicio *********************************/
#inicio {
    background-image: url("../images/login_bg_white.jpg");
    background-position: bottom center;
}

#inicio .contenido {
    font-weight: 100;
    color: #999999;
}

#inicio .contenido h1 {
    font-size: 72px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

#inicio .contenido i {
    font-size: 36px;
}

/**************************** Providers *********************************/
.sideBar {
    width: 192px;
    /*background-color: #03a9f4;*/
    height: 100%;
}

.content {
    /*background-color: #b388ff;*/
    height: 100%;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}

.cabezera {
    height: 48px;
    padding-left: 48px;
    /*background-color: #323232;*/

}

.barraHerramientas {
    width: 48px;
}

.barraHerramientas > div {
    width: 48px;
    height: 38px;
}

.barraLateral {
    width: 192px;
}

/**********************************************/
.btnDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btnLine {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btnPie {
    padding-right: 16px;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.btnPieSelc {
    padding-right: 16px;
    font-size: 11px;
    text-transform: uppercase;
    color:rgb(231,94,0);
    font-weight: bold;
    cursor: pointer;
}

.pie {
    height: 48px;
    padding-left: 48px;
    /*background-color: #ff8a80;*/
}

.pie > div {
    width: auto;
    height: 48px;
}

/**********************************************/
.menuBarHolder {
    height: 48px;
    background-color: #f1f1f1;
}

.menu {
    width: 192px;
    background-color: #f1f1f1;
    padding-left: 8px;
    color: #999999;
}

.menu_shadow {
    -webkit-box-shadow: -2px 2px 2px -2px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: -2px 2px 2px -2px rgba(0,0,0,0.5) !important;
    box-shadow: -2px 2px 2px -2px rgba(0,0,0,0.5) !important;
}

.botonera div {
    width: 48px;
    height: 48px;
    color: #999999;
}
.botonera div.blue {
    background-color:rgb(84, 180, 234);
    color: white;
}
.boxList {
    height: 176px;
    padding: 8px;
    color: #999999;
}

.boxList:hover {
    background-color: rgba(221, 221, 221, 0.2);
}

.titulo_formulario {
    color: rgb(84, 180, 234);
    height: 39px;
    padding-right: 8px;
    min-height: 39px;
}

.titulo_formulario>div {
    border-bottom: solid 0px rgb(84, 180, 234);
    width: 100%;
    padding-top: 10px;
    height: 19px;
}

form .titulo_formulario>div{
    border-bottom-color: #ccc;
}
form .titulo_formulario{
    color: #ccc;
}

form.focused .titulo_formulario>div{
    border-bottom-color: rgb(84, 180, 234);
}
form.focused .titulo_formulario{
    color: rgb(84, 180, 234);
}

form.required .titulo_formulario>div{
    border-bottom-color: #febd33;
}
form.required .titulo_formulario{
    color: #febd33;
}
form.modified .titulo_formulario>div{
    border-bottom-color: #05ce7c;
}
form.modified .titulo_formulario{
    color: #05ce7c;
}

md-chips[disabled]  md-chips-wrap{
    border-bottom-color: transparent;
    color: transparent;
    background-position: bottom -1px left 0;
    background-size: 4px 2px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(0,0,0,0.38) 0%, rgba(0,0,0,0.38) 33%, transparent 0%);
    box-shadow: 0 1px transparent !important;
}

.cntLayerHolder {
    padding: 10px 0px 24px 0px !important; /*modificado por jacsiel 07/06/2016*/
}

/*========================== TEXTOS RESUMEN ===============================*/
.textResm {
    height: 39px;
    padding-right: 8px;
}

.textResm div {
    width: 100%;
    padding-top: 10px;
    height: 19px;
}

/*======================== GRIDS ================================*/
.headGridHolder {
    height: 40px;
    padding-right: 8px;
    min-height: 40px;
}

.headGrid {
    margin-top: 10px;
    margin-bottom: 9px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: solid 1px #999999;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
}

/*----------------------------------------------------------------*/
.cellGridHolder {
    height: 40px;
}

.cellGridHolder:hover {
    background-color: #f1f1f1;
    color: #999999;
}

.cellGrid {
    margin-top: 10px;
    margin-bottom: 9px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    border-bottom: 1px dashed #999999;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    min-width: 16px;
}

/* */

md-tabs md-ink-bar {
    height: 1px !important;
    color: rgb(84, 180, 234) !important;
    background-color: rgb(84, 180, 234) !important;
}

.md-tab {
    line-height: 20px !important;
    padding: 10px 24px 0 24px !important;
    text-transform: initial !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    text-align: left;
}

md-tabs .md-tab.md-active {
    color: rgb(84, 180, 234);
}

md-tabs-canvas {
    height: 30px !important;
}

md-pagination-wrapper {
    height: 30px !important;
}

/**********************EDITADO POR JACSIEL 06/05/2016****************************
*********************************************************************************
****CLASES QUE MARCA ELEMENTO SELECCIONADO EN EL GRID Y LISTADO DE PROVEEDORES***
********************************************************************************/
.listSel {
    border-left: 2px solid rgb(84, 180, 234) !important;
}

.listSelTemp {
    border-left: 2px solid #febd33 !important;
}

/*.listFocus {
    border-left: 2px solid #555555;
}*/

.boxList:focus{
    border-left: 2px solid #999;
}

.iconInput:focus{
    border-bottom:1px solid rgb(84, 180, 234);
}
.iconInput.iconCircle:focus{
    /*background-color: rgb(84, 180, 234);
    color:white;*/
    border-color:rgb(84, 180, 234) !important;
}

.iconCircle{
    margin-left: 8px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 25px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    float: left;
    font-size: 14px;
}

/*.iconInput.iconCircle.iconActive:focus{
    background-color: white;
    color:rgb(84, 180, 234);
    border-color:rgb(84, 180, 234) !important;
}*/

.iconInactive {
    color: #d1d1d1 !important;
}

.iconActive {
    color : rgb(84, 180, 234) !important;
}
.iconFav {
   color: #febd33 !important;
}
.gridSel {
    background-color: rgb(84, 180, 234);
    color: #fff;
}

.rowSel>div{
    /*border-bottom-color: rgb(84, 180, 234);
    color: rgb(84, 180, 234);*/
    font-weight: bolder !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




.title_error{
    color:rgb(221,44,0) !important;
}
.title_error>div{
    border-color:rgb(221,44,0) !important;
}

.onlyread{
    color:#999 !important;
}
.preNew{
    opacity:0.2;
}
.onlyread>div{
    border-color:#999 !important;
}

.itemName{
    border-radius: 10px;
    padding: 5px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 5px;
    float: left;
    border: 1px solid #ccc;
}

.iconValName{
    height: 31px;
    width:108px;
}
/*.iconValName span:before{
    margin-top: 8px;
}*/

#valNameContainer{
    padding: 5px 5px 5px 0px;
    float: left;
    width:40%;
    height: 31px;
}

#valNameContainer md-input-container{
    padding: 0 0px 0 0 !important;
    margin: 0px 0 0 0 !important;
}

.itemName>.rm{
    color:#000 !important;
}
.rm:hover{
    color:red !important;
}

.coinDiv
{
    width:24px;
    height:24px;
    border-radius:250px;
    font-size:15px;
    color:#ccc;
    line-height:24px;
    text-align:center;
    background:#fff;
    border: 2px solid gold;
    margin-right: 8px;
}

.circle
{
    width:24px;
    height:24px;
    border-radius:250px;
    font-size:15px;
    color:#999;
    line-height:24px;
    text-align:center;
    background:#fff;
    border: 1px solid rgb(84, 180, 234);
    margin-right: 8px;
}

.ligthCell{
    color:#d1d1d1 !important;
}

.title_del{
    color:rgb(221,44,0) !important;
}
.title_del>div{
    border-color:rgb(221,44,0) !important;
}

.title_upd{
    color:gold !important;
}
.title_upd>div{
    border-color:gold !important;
}

.title_new{
    color : rgb(84, 180, 234) !important;
}

.collapseResum{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;
    white-space:nowrap;
}

/*provisional botones styles*/
.vlc-buttom{
    width: 25px;
    /* border: 1px solid rgb(84, 180, 234); */
    height: 22px;
    text-align: center;
    padding-top: 3px;
    color: white;
    background: #ccc;
    margin-top: 3px;
    margin-right: 8px;
    font-weight: bold !important;
}
.vlc-buttom.ng-disable{
    pointer-events: none;
    color:#f1f1f1;
}
.focused .vlc-buttom{
    background: rgb(84, 180, 234);
}

.popUp{
    z-index: 90;
    margin-top:96px;
    margin-bottom:48px;
    width: 360px;
}

.imgItem{

    width: 79px;
    height: 72px;
    margin: 0px 2px 4px 2px;
    float: left;
    border: 1px dashed #ccc;
    overflow: hidden;
}

div.activeleft{
    width: 24px;
}
.white{
    background-color: #fff;
}

.resumCell {
    border-bottom: 1px solid #f1f1f1;
    margin-right: 8px;
}

.resumEm {
    color:#9d9d9d;
    font-weight: bold !important;
}

.resumBlock{
    border-bottom:1px solid #ccc;
}
.resumBlock.aprov{

    background-color: rgba(5,206,124,0.4)
}
.resumBlock.deny{

    background-color: rgba(221,44,0,0.4)
}

.reserved{
    opacity:0.5;
}
.md-sidenav-layer{
    margin-top:96px; margin-bottom:48px;
}
md-progress-linear ._md-bar,md-progress-linear .md-bar{
    background-color:rgb(84, 180, 234) !important;
}
md-progress-linear ._md-container,md-progress-linear .md-container{
    background-color:#cccccc !important;
}

@-webkit-keyframes loadingBlue {
    from {
        border-color:rgba(0,0,0,0.22) !important;
        color: rgba(0,0,0,0.22);
    }
    50% {
        border-color:rgb(84, 180, 234) !important;
        color: rgb(84, 180, 234);
    }
    to {
        border-color:rgba(0,0,0,0.22) !important;
        color: rgba(0,0,0,0.22);
    }
}

.loadArea.loading, .loadArea.loading div{
    -webkit-animation-name: loadingBlue;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}




/*========================== DATE PICKERS ===============================*/
.md-datepicker-button{
    display:none;
}

/**********************EDITADO POR MIGUEL 27/05/2016****************************/
md-datepicker{
    background-color: transparent;
    /****** EDITADO LUIS 22/03/2017 ********/

}

.md-datepicker-input{
    height: 20px;
    line-height: 20px;
}

.md-datepicker-input-container.md-datepicker-focused{
    border-bottom-width: 1px !important;
    border-bottom-color: rgb(84, 180, 234) !important;
    
}
.md-icon-button + .md-datepicker-input-container{
    margin-left: 0 !important;
}

/**********************EDITADO POR MIGUEL 14/05/2016****************************
*********************************************************************************
**** CLASE QUE DIBUJA dot en los item de lista lateral  ***
********************************************************************************/
.dot-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 11px;
}

/*****
area para subir los archivos
***/

.drop-box {
/*    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;

    padding-top: 25px;
    margin: 10px;*/

    /*modificado por Jacsiel 06/06/2016*/
    color: rgb(84, 180, 234);
    height: 48px;
    width: 100%;
    font-size: 24px;
    border: 1px dashed #ccc;
    margin: 0px 0px 8px 0px;
    padding: 0px;
    background-color: transparent;
    text-align: center;
}
.drop-box[disabled="disabled"] {
    color: #ccc;
}

.dragover {
    border: 2px dashed rgb(84, 180, 234);
}

@keyframes grown {
    0%{width:0%}
   100%{width:100%;}

}

.sel{
    width: 100%;
}

.lineAnimate{
    -webkit-animation: grown 1000ms ease 1;
    animation: grown 1000ms ease 1;
}


@keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-6px) rotateY(-5deg)}
    37.5% {transform: translateX(5px) rotateY(4deg)}
    62.5% {transform: translateX(-3px) rotateY(-2deg)}
    87.5% {transform: translateX(2px) rotateY(1deg)}
    100% {transform: translateX(0)}
}

@-webkit-keyframes shake {
    0% {-webkit-transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px) rotateY(-5deg)}
    37.5% {-webkit-transform: translateX(5px) rotateY(4deg)}
    62.5% {-webkit-transform: translateX(-3px) rotateY(-2deg)}
    87.5% {-webkit-transform: translateX(2px) rotateY(1deg)}
    100% {-webkit-transform: translateX(0)}
}

.shake {
    -webkit-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}



/*****************/
/*

md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right, md-sidenav.md-locked-open-remove.md-closed {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: none;
    transform: none;
}
md-sidenav.md-locked-open-remove-active {
    transition: width 0.3s cubic-bezier(0.55, 0, 0.55, 0.2), min-width 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    width: 0;
    min-width: 0;
    position: absolute;

}
md-sidenav.md-closed.md-locked-open-add {
    width: 0;
    min-width: 0;
    -webkit-transform: none;
    transform: none;
    position: absolute;

}
md-sidenav.md-closed.md-locked-open-add-active {
    transition: width 0.3s cubic-bezier(0.55, 0, 0.55, 0.2), min-width 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    min-width: 0px;
    -webkit-transform: none;
    transform: none;
}*/
