/**************************** Global *********************************/
*:focus {
    outline: 0;
}

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

button, select, html, div, textarea, input {
    font-weight: 300 !important;

}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(221, 221, 221, 0.2);
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: rgba(221, 221, 221, 1);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
md-switch.md-checked.md-primary .md-thumb {
    background-color: rgb(84, 180, 234) !important;
}

md-switch.md-checked.md-primary .md-ink-ripple {
    color: rgb(84, 180, 234) !important;
}

/*==================================================*/
/*==================================================*/
form {
    padding: 0 !important;
    background-image: url("../images/shadowUp.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
}

/*==================================================*/
/*==================================================*/
/*@media screen and (min-width: 600px) md-sidenav{
    max-width: 100% !important;
}*/
md-backdrop {
    background-color: transparent !important;
}

.md-sidenav-backdrop {
    background-color: transparent !important;
    display: none;
}

md-sidenav {
    max-width: 100% !important;
}

md-sidenav#lyrAlert {
    background-color: transparent !important;
}


/*==================================================*/
/*==================================================*/
md-input-container {
    padding: 0 8px 0 0 !important;
    margin: 10px 0 0 0 !important;
}

/*==================================================*/
/*==================== INPUT =======================*/
md-input-container .md-input, .md-select-value {
    border-color: transparent !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: rgb(84, 180, 234) !important;
    /*border-color: #ffffff !important;*/
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: rgb(84, 180, 234) !important;
}

input {
    font-size: 98% !important;
}

/*==================== LABEL =======================*/
md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 10px, 0) scale(0.65) !important;
    transform: translate3d(0, 10px, 0) scale(0.65) !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    -webkit-transform: translate3d(0, 18px, 0) scale(1);
    transform: translate3d(0, 18px, 0) scale(1);
}

md-input-container.md-input-focused label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 10px, 0) scale(0.65) !important;
    transform: translate3d(0, 10px, 0) scale(0.65) !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

/*==================== ERROR MENSAJE ====================*/
md-input-container [ng-message] {
    font-size: 9px !important;
    line-height: 9px !important;
    padding-top: 1px !important;
}

/*==================== ERROR SIZE =======================*/
md-input-container .md-char-counter {
    font-size: 9px !important;
    line-height: 9px !important;
}

md-input-container .md-errors-spacer {
    min-height: 10px !important;
}

md-input-container .md-char-counter {
    padding-top: 1px;
}

md-input-container.md-input-focused .md-input {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    border-width: 0 0 1px 0;
}

md-input-container .md-input.ng-invalid.ng-dirty {
    padding-bottom: 0;
    border-width: 0 0 1px 0;
}

md-input-container [ng-message]:not(.md-char-counter) {
    padding-right: 12px;
    padding-left: 0;
}

md-input-container .md-input {
    height: 20px;
    line-height: 20px;
}

/*==================================================*/
/*=================== SELECTOR =====================*/
.md-select-value {
    min-height: 19px !important;
    padding: 0 !important;
}

/*md-select .md-select-value{
    border-bottom-color: #ffffff;
}*/

md-select:not([disable]):focus .md-select-value {
    border-bottom-width: 1px;
    border-bottom-color: rgb(84, 180, 234) !important;
}

.md-select-value .md-select-icon:after {
    color: #999999 !important;
}

.md-select-value *:first-child {
    -webkit-transform: translate3d(0, 0px, 0) !important;
    transform: translate3d(0, 0px, 0) !important;
}

.md-select-value .md-select-icon:after {
    background-position-x: 12px !important;
    content: '' !important;
    height: 12px !important;
    background-image: url("../images/select_downArrow.png") !important;
    background-repeat: no-repeat !important;
    -webkit-transform: scaleY(1) scaleX(1) !important;
    transform: scaleY(1) scaleX(1) !important;
}

md-input-container > md-select {
    margin-bottom: 10px !important;
}

/*==================================================*/
/*================ SELECTOR MULTIPLE ===============*/
md-select-value > span {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

md-select-value > span > div {
    float: left !important;
    margin-left: 12px !important;
}


/*==================================================*/
/*=================== SWITCH =====================*/
md-switch {
    margin: 0 !important;
}

md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(0, 0, 0, 0.12);
}

md-switch .md-bar {
    background-color: #ffffff !important;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    left: -2px !important;
    width: 40px !important;
    top: 0px !important;
    height: 17px !important;
    border-radius: 8px !important;
    position: absolute !important;
}

md-switch .md-thumb {
    background-color: #ff6f4c;
    position: absolute !important;
    margin: 0 !important;
    left: 0 !important;
    top: 0 !important;
    outline: none !important;
    height: 13px !important;
    width: 20px !important;
    border-radius: 6px !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 2px 0px 0px rgba(0, 0, 0, 0) !important;
    /*box-shadow: 0 !important;*/
}

md-switch.md-focused:not([disabled]) .md-thumb:before {
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

md-switch.md-focused:not([disabled]):not(.md-checked) .md-thumb:before {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

/*==================================================*/
/*=================== CHPIS =====================*/
.md-chips .md-chip {
    border-radius: 16px !important;
    height: 24px !important;
    line-height: 24px !important;
    margin: 0px 8px 0 0 !important;
    padding: 0 16px 0 8px !important;
}

.md-chips .md-chip .md-chip-remove {
    width: 24px !important;
    height: 24px !important;
}

md-chips .md-chip {
    background-color: #f1f1f1 !important;
}

.md-chips {
    padding: 0 !important;
}

md-chips .md-chips {
    margin-bottom: 10px !important;
}

md-chips .md-chips.md-focused {
    box-shadow: 0 1px rgb(84, 180, 234) !important;
}

.md-chips .md-chip-input-container {
    line-height: 20px !important;
}

.md-chips .md-chip-input-container:not(:first-child) {
    /*margin: 6px 0px 2px 0 !important;*/
    margin: 0px !important;
}

.md-chips .md-chip-input-container input:not([type]) {
    height: 20px !important;
    line-height: 20px !important;
}

.md-chips .md-chip-input-container input {
    height: 20px !important;
    line-height: 20px !important;
}

.md-chips .md-chip-input-container md-autocomplete-wrap {
    height: 20px !important;
}

.md-chips .md-chip-input-container md-autocomplete {
    height: 20px !important;
}

/*==================================================*/
/*==================== ALERTS ======================*/
/*.alertsHolder{
    top: calc(100% - 144px) !important;
    height: 96px !important;
    margin-bottom:48px !important;
    width: calc(100% - 288px) !important;
}*/
.alertBox md-tabs-wrapper{
    display: none !important;
}
.alertBox md-tabs-canvas{
    display: none !important;
}
.alertBox md-tabs-content-wrapper{
    top: 0 !important;
}
.alertBox md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
    min-height: 96px !important;
}
.alertBox md-tab-content{
    height: 96px;
}
.alertBox md-tab-content>div{
    height: 96px;
}

.alertPrevArrow{
    width: 16px;
    height: 96px;
    cursor: pointer;
    background-image: url("../images/alert_prev_arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.alertNextArrow{
    width: 16px;
    height: 96px;
    cursor: pointer;
    background-image: url("../images/alert_next_arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.alertOkColor{
    background-color:rgba(255,239,0,0.7);
}
.alertAlertColor{
    background-color: rgba(245,171,0,0.7);
}
.alertErrorColor{
    background-color: rgba(255,50,0,0.7);
}
.alertInfoColor{
    background-color: rgba(0,0,0,0.2);
}
.alertContainer{
    background-color: transparent;
    height: 96px;
}
.alertItem{
    height: 96px;
}
.alertTextContent{
    overflow-y: auto;
    height: 63px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
}
.alertTextOpcs{
    height: 24px;
    width: 100%;
    text-align: center;

}

.alertTextOpcs>div{
    border-top: 1px solid rgba(255,255,255,0.4);
    padding-top: 3px;
}
.alertTextOpcs>div:not(:last-child){
    border-right: 1px solid rgba(255,255,255,0.4);
}
.alertTextOpcs>div:hover{
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}
.alertTextOpcs>div:active{
    background-color: rgba(255,255,255,0.2);
}

/*==================================================*/
/*===================== TABS =======================*/
md-tabs .md-tab.md-active{

}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
body[ng-cloak] {
    display: none;
}

body {
    background-image: url("../images/login_bg_white.jpg");
    background-position: bottom center;
}

#holderAll {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;

}

/**************************** Login *********************************/
#holderLogin {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("../images/login_bg_lines.gif");
    background-position: bottom center;
}

#login md-input-container .md-input {
    border-color: #ffffff !important;
}

#login md-input-container label {
    font-weight: 100;
}

#login {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("../images/login_bg_lines.gif");
    background-position: bottom center;
}

#loginBottom {
    height: 80px;

}

#lgnForm {
    width: 400px;
}

.msjBienvenida {
    width: 333px;
    height: 287px;
    background-image: url("../images/login_exagono_bg.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    font-size: 21px;
    font-weight: 100;
}

.md-input-focused {
    border-color: #ffffff !important;
}

.btnHolder {
    width: 48px;
    height: 80px;
}

.btnHolder i {
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}

.logoHolder {
    width: 200px;
    height: 80px;

}

.contentHolder {
    background-color: #ffffff;
}

/**************************** Inicio *********************************/
#inicio {
    background-image: url("../images/login_bg_white.jpg");
    background-position: bottom center;
}

#inicio .contenido {
    font-weight: 100;
    color: #999999;
}

#inicio .contenido h1 {
    font-size: 72px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

#inicio .contenido i {
    font-size: 36px;
}

/**************************** Providers *********************************/
.sideBar {
    width: 192px;
    /*background-color: #03a9f4;*/
    height: 100%;
}

.content {
    /*background-color: #b388ff;*/
    height: 100%;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}

.cabezera {
    height: 48px;
    padding-left: 48px;
    /*background-color: #323232;*/

}

.barraHerramientas {
    width: 48px;
}

.barraHerramientas > div {
    width: 48px;
    height: 38px;
}

.barraLateral {
    width: 192px;
}

/**********************************************/
.btnDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btnLine {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.pie {
    height: 48px;
    padding-left: 48px;
    /*background-color: #ff8a80;*/
}

.pie > div {
    width: 38px;
    height: 48px;
}

/**********************************************/
.menuBarHolder {
    height: 48px;
    background-color: #f1f1f1;
}

.menu {
    width: 192px;
    background-color: #f1f1f1;
    padding-left: 8px;
    color: #999999;
}

.botonera div {
    width: 48px;
    height: 48px;
    color: #999999;
}

.boxList {
    height: 176px;
    padding: 8px;
    color: #999999;
}

.boxList:hover {
    background-color: rgba(221, 221, 221, 0.2);
}

.titulo_formulario {
    color: rgb(84, 180, 234);
    height: 39px;
    padding-right: 8px;
    min-height: 39px;
}

.titulo_formulario>div {
    border-bottom: solid 0px rgb(84, 180, 234);
    width: 100%;
    padding-top: 10px;
    height: 19px;
}

form .titulo_formulario>div{
    border-bottom-color: #ccc;
}
form .titulo_formulario{
    color: #ccc;
}

form.focused .titulo_formulario>div{
    border-bottom-color: rgb(84, 180, 234);
}
form.focused .titulo_formulario{
    color: rgb(84, 180, 234);
}

.cntLayerHolder {
    padding: 10px 0px 24px 0px !important; /*modificado por jacsiel 07/06/2016*/
}

/*========================== TEXTOS RESUMEN ===============================*/
.textResm {
    height: 39px;
    padding-right: 8px;
}

.textResm div {
    width: 100%;
    padding-top: 10px;
    height: 19px;
}

/*======================== GRIDS ================================*/
.headGridHolder {
    height: 40px;
    padding-right: 8px;
    min-height: 40px;
}

.headGrid {
    margin-top: 10px;
    margin-bottom: 9px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    border-bottom: solid 1px #999999;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
}

/*----------------------------------------------------------------*/
.cellGridHolder {
    height: 40px;
    padding-right: 8px;
}

.cellGridHolder:hover {
    background-color: #f1f1f1;
    color: #999999;
}

.cellGrid {
    margin-top: 10px;
    margin-bottom: 9px;
    padding-bottom: 2px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    border-bottom: 1px dashed #999999;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
}

/* */

md-tabs md-ink-bar {
    height: 1px !important;
    color: rgb(84, 180, 234) !important;
    background-color: rgb(84, 180, 234) !important;
}

.md-tab {
    line-height: 20px !important;
    padding: 10px 24px 0 24px !important;
    text-transform: initial !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    text-align: left;
}

md-tabs .md-tab.md-active {
    color: rgb(84, 180, 234);
}

md-tabs-canvas {
    height: 30px !important;
}

md-pagination-wrapper {
    height: 30px !important;
}

/**********************EDITADO POR JACSIEL 06/05/2016****************************
*********************************************************************************
****CLASES QUE MARCA ELEMENTO SELECCIONADO EN EL GRID Y LISTADO DE PROVEEDORES***
********************************************************************************/
.listSel {
    border-left: 2px solid rgb(84, 180, 234);
}

.listSelTemp {
    border-left: 2px solid #febd33;
}

.iconInactive {
    color: #d1d1d1 !important;
}

.iconActive {
    color : rgb(84, 180, 234) !important;
}
.iconFav {
   color: #febd33 !important;
}
.gridSel {
    background-color: rgb(84, 180, 234);
    color: #fff;
}

.rowSel>div{
    /*border-bottom-color: rgb(84, 180, 234);
    color: rgb(84, 180, 234);*/
    font-weight: bolder !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.focused md-input-container .md-input{
    border-bottom: 1px solid #ccc !important;
}

.focused md-input-container .md-select-value{
    border-bottom: 1px solid #ccc !important;
}

.focused md-input-container:not(.md-input-focused) .md-input[required].ng-untouched{
    border-bottom: 1px solid #febd33 !important;
}

.focused md-input-container:not(.md-input-focused) md-select[required].ng-untouched .md-select-value{
    border-bottom: 1px solid #febd33 !important;
}

md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input{
    border-color: rgb(221,44,0) !important;
}


.title_error{
    color:rgb(221,44,0) !important;
}
.title_error>div{
    border-color:rgb(221,44,0) !important;
}

.onlyread{
    color:#999 !important;
}
.preNew{
    opacity:0.2;
}
.onlyread>div{
    border-color:#999 !important;
}

.itemName{
    border-radius: 10px;
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
    border: 1px solid #ccc;
}

.iconValName{
    height: 31px;
    width:108px;
}
.iconValName span:before{
    margin-top: 8px;
}

#valNameContainer{
    padding: 5px;
    margin-right: 8px;
    float: left;
    width:40%;
    height: 31px;
}

.itemName>.rm{
    color:#000 !important;
}
.rm:hover{
    color:red !important;
}

.coinDiv
{
    width:24px;
    height:24px;
    border-radius:250px;
    font-size:15px;
    color:#ccc;
    line-height:24px;
    text-align:center;
    background:#fff;
    border: 2px solid gold;
    margin-right: 8px;
}

.circle
{
    width:24px;
    height:24px;
    border-radius:250px;
    font-size:15px;
    color:rgb(84, 180, 234);
    line-height:30px;
    text-align:center;
    background:#fff;
    border: 1px solid #ccc;
    margin-right: 8px;
}

.ligthCell{
    color:#d1d1d1 !important;
}

.title_del{
    color:rgb(221,44,0) !important;
}
.title_del>div{
    border-color:rgb(221,44,0) !important;
}

.title_upd{
    color:gold !important;
}
.title_upd>div{
    border-color:gold !important;
}

.title_new{
    color : rgb(84, 180, 234) !important;
}

.imgItem{
    width: 149px;
    height: 152px;
    background-color: gray;
    margin: 0px 8px 8px 0px;
    float: left;
}
/*
.space{
    background-image: url("../images/shadowUp.jpg");
    background-repeat: repeat-x;
    height: 8px;
    width: 100%;
    margin: 8px 0px 0px 0px;
    padding: 0px;
}
*/

div.activeleft{
    width: 24px;
}
.white{
    background-color: #fff;
}

md-progress-linear ._md-bar,md-progress-linear .md-bar{
    background-color:rgb(84, 180, 234) !important;
}
md-progress-linear ._md-container,md-progress-linear .md-container{
    background-color:#cccccc !important;
}

@-webkit-keyframes loadingBlue {
    from {
        border-color:rgba(0,0,0,0.22) !important;
        color: rgba(0,0,0,0.22);
    }
    50% {
        border-color:rgb(84, 180, 234) !important;
        color: rgb(84, 180, 234);
    }
    to {
        border-color:rgba(0,0,0,0.22) !important;
        color: rgba(0,0,0,0.22);
    }
}

.loadArea.loading, .loadArea.loading div{
    -webkit-animation-name: loadingBlue;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}




/*========================== DATE PICKERS ===============================*/
.md-datepicker-button{
    display:none;
}

/**********************EDITADO POR MIGUEL 27/05/2016****************************/
md-datepicker{
    background-color: transparent;
}

/**********************EDITADO POR MIGUEL 14/05/2016****************************
*********************************************************************************
**** CLASE QUE DIBUJA dot en los item de lista lateral  ***
********************************************************************************/
.dot-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 11px;
}

/*****
area para subir los archivos
***/

.drop-box {
/*    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;

    padding-top: 25px;
    margin: 10px;*/

    /*modificado por Jacsiel 06/06/2016*/
    color: rgb(84, 180, 234);
    height: 48px;
    width: 100%;
    font-size: 24px;
    border: 1px dashed #ccc;
    margin: 0px 0px 8px 0px;
    padding: 0px;
    background-color: transparent;
    text-align: center;
}

.dragover {
    border: 2px dashed rgb(84, 180, 234);
}


@keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-6px) rotateY(-5deg)}
    37.5% {transform: translateX(5px) rotateY(4deg)}
    62.5% {transform: translateX(-3px) rotateY(-2deg)}
    87.5% {transform: translateX(2px) rotateY(1deg)}
    100% {transform: translateX(0)}
}

@-webkit-keyframes shake {
    0% {-webkit-transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px) rotateY(-5deg)}
    37.5% {-webkit-transform: translateX(5px) rotateY(4deg)}
    62.5% {-webkit-transform: translateX(-3px) rotateY(-2deg)}
    87.5% {-webkit-transform: translateX(2px) rotateY(1deg)}
    100% {-webkit-transform: translateX(0)}
}

.shake {
    -webkit-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}